a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	cursor: pointer;
	border: none;
}

input {
	border: none;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $commonFonts;
	color: $commonClr;
	position: relative;

	.body-deco {
		z-index: -100;
		position: absolute;
		top: 0;
		right: 0;
		height: 12.4%;
	}
}

* {
	margin: 0;
	padding: 0;
}
