// text
$commonClr: #5e6282;
$cardGreeceClr: #84829a;
$navClr: #212832;
$preHeadingClr: #df6951;
$headingsClr: #181e4b;
$hoverClr: #f1a501;
$playBtnClr: #df6951;
$serviceHeadingFonts: #1e1d4c;
$footerLogoClr: #181e4b;
$footerNavClr: #080809;
$customBlack: #080809;
$progressClr: #8a79df;

// buttons
$headerBtnBorderClr: #212832;
$heroBtnClr: #f1a501;
$subscribeBtnClr: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
$formContainerClr: #dfd7f9;
$contentClr: #fff;
// decorations
$heroDecoreClr: #fff1da;
// fonts
$headerFonts: "Google Sans", sans-serif;
$preHeadingFonts: "Poppins", sans-serif;
$headingFonts: "Volkhov", serif;
$commonFonts: "Poppins", sans-serif;
$heroBtnFonts: "Google Sans", sans-serif;
$subscribeBtnFonts: "Open Sans", sans-serif;
$serviceFonts: "Open Sans", sans-serif;
$inputFonts: "Montserrat", sans-serif;