@import url(/css/main.css);

/* header */
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 10%;
	height: 75px;
	width: 100%;
	background-color: var(--common-color);
}

.hero-logo-text {
	color: var(--heading-color);
	font-family: var(--logo-text-fonts);
	font-size: 24px;
	font-weight: 700;
}

.nav-list {
	display: flex;
	justify-content: space-evenly;
}

.nav-list li a {
	padding: 0px 20px;
	color: var(--common-text-color);
}

.nav-list li a:hover {
	color: var(--hover-color);
}

.sign-container {
	display: flex;
	align-items: center;
}

.sign-container a {
	margin: 10px 20px;
	color: var(--common-text-color);
}

.sign-container a:hover {
	color: var(--hover-color);
}

.btn {
	padding: 13px 50px;
	background-color: var(--button-color);
	border: 1px solid var(--button-color);
	border-radius: 4px;
	color: var(--common-color);
	font-family: var(--common-fonts);
	font-size: 16px;
}

.btn:hover {
	opacity: 0.75;
}

/* main - hero section */
.hero-container {
	display: flex;
	align-items: flex-start;
	background: url("/img/hero-bg.jpg") no-repeat center / cover;
	height: 100vh;
	padding: 50px;
}

.hero-info-container {
	padding-left: 145px;
	padding-right: 145px;
	padding-bottom: 145px;
	padding-top: 50px;
}

.hero-heading {
	font-family: var(--main-headings-fonts);
	color: var(--heading-color);
	margin-bottom: 1rem;
	font-size: 50px;
}

.hero-descr {
	width: 320px;
	margin-bottom: 1rem;
	font-size: 14px;
}

/* main - offers section */
.offers-section {
	padding-top: 50px;
	margin: 50px 150px;
	font-size: 14px;
}

.offers-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.offers-heading {
	font-family: var(--main-headings-fonts);
	color: var(--heading-color);
	font-size: 35px;
}

.offers-descr-container {
	padding-top: 2rem;
	width: 445px;
}

.offer-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	height: 830px;
}

.offer-content-item {
	max-width: 269px;
}

.offer-content-item:nth-child(2) {
	align-self: flex-end;
}

.offer-heading-container {
	position: relative;
}

.offer-num {
	font-family: var(--numbers-fonts);
	font-size: 120px;
	color: var(--numbers-color);
}

.offer-heading {
	font-family: var(--main-headings-fonts);
	position: absolute;
	bottom: 0;
	text-align: center;
	top: 115px;
	left: 70px;
	font-size: 20px;
}

.offer-heading-three {
	left: 100px;
}

.offer-img {
	margin-top: 2rem;
	max-width: inherit;
}

/* main - kayla section */
.kayla-section {
	display: flex;
	background-color: var(--section-color);
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
}

.kayla-descr-container {
	align-items: left;
	color: var(--common-color);
}

.kayla-heading {
	font-family: var(--main-headings-fonts);
	font-size: 35px;
	margin-bottom: 2rem;
}

.kayla-descr {
	margin-bottom: 2rem;
}

/* main - mikayla section */
.mikayla-section {
	display: flex;
	align-items: flex-start;
	padding: 90px 200px 200px;
}

.mikayla-imgs-container {
	position: relative;
	top: 0;
	left: 0;
	margin-right: 50px;
}

.mikayla-img {
	position: relative;
	top: 0;
	left: 0;
}

.mikayla-card-img {
	position: absolute;
	top: 340px;
	left: -80px;
}

.mikayla-heading {
	font-family: var(--main-headings-fonts);
	color: var(--heading-color);
	font-size: 30px;
	margin: 1rem 0;
}

.mikayla-descr {
	font-size: 14px;
	margin-bottom: 1rem;
}

/* footer */
.hero-footer {
	background-color: var(--footer-color);
	display: flex;
	justify-content: space-around;
	padding: 15px;
}

.nav-container {
	margin: 80px 75px;
}

.hero-logo-text-footer {
	color: var(--common-color);
	font-family: var(--logo-text-fonts);
	font-size: 24px;
	font-weight: 700;
}

.nav-lst-footer {
	display: flex;
	flex-direction: column;
}

.nav-lst-footer a {
	color: var(--common-color);
	margin-top: 20px;
}

.social-media-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-evenly;
}

.social-media-icon {
	max-width: 95px;
	margin: 10px;
}

.apps-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	color: var(--common-color);
}

.app-lst {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 2rem;
}

.app-lst a {
	margin: 5px;
}

.app-icon {
	max-width: 200px;
}
